{% extends 'Base/base.html' %}
{% load staticfiles %}
{% block content %}


<center>
	<h1>DETALLE DE COBRO</h1><hr><p align="right"><button class="btn btn-primary"><a href="">AGREGAR PAGO </button></a></p><hr>
</center>

<h5>Alumno <i class="fas fa-graduation-cap"></i></h5>

{% for alumno in alumno %}
	<h6>{{ alumno.nombre }} {{ alumno.apellido_pat}} {{ alumno.apellido_mat}}</h6>
	<h6>{{ alumno.rut }}</h6>
{% endfor %}
<hr>
<br>

<!-- CÓDIGO LISTADO DE COBROS !-->

<table id="tablaAlumnos" class="table table-responsive table-bordered">
	<thead>
		<tr>
			<tr>
				<td bgcolor="#1F618D"><font color="#ffffff">Número de Cuota</font></td>
				<td bgcolor="#1F618D"><font color="#ffffff">Fecha de Vencimiento</font></td>
				<td bgcolor="#1F618D"><font color="#ffffff">Monto Cuota (UF)</font></td>
				<td bgcolor="#1F618D"><font color="#ffffff">Interés Penal (UF)</font></td>
				<td bgcolor="#1F618D"><font color="#ffffff">Recargo de Cobranza</font></td>
				<td bgcolor="#1F618D"><font color="#ffffff">Monto Total de Cuota ($)</font></td>
				<td bgcolor="#1F618D"><font color="#ffffff">Estado</font></td>
				<td bgcolor="#1F618D"><font color="#ffffff">Ver Detalle Pago</font></td>
			</tr>
		</tr>
	</thead>
	<tbody>
	{% if cobros %}
	{% for cobros in cobros %}
	<tr>
		<td>{{cobros.id_cobro}}</td>
		<td>{{cobros.fecha_vencimiento}}</td>
		<td>{{cobros.monto}}</td>
		<td>No presenta</td>
		<td>No presenta</td>
		<td>{{cobros.monto}}</td>
		<td>{{cobros.estado}}</td>
		<td>
			<a href="{% url 'pagos_alumno' cobros.alumno.pk %}" class="btn btn-info" title="Ir a Detalle de Pago"><i class="fas fa-money-check-alt"></i> Detalle Pago</a>
		</td>
	</tr>
	{% endfor %}
	{% else %}
	<h1 align="center">No hay registros de Alumnos</h1>
	{% endif %}
	</tbody>
</table>

{% endblock %}