{% extends 'Base/base.html'%}
{% load staticfiles %}
{% block content %} 

<form method="post">
	{% csrf_token %}
	<div>
		<div class="form-group">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>
                <div class="alert alert-success"> {{ message }}</div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

<!--TÍTULO DE PLANTILLA!-->

<center>
  <h2>FICHA ACADÉMICA</h2><p align="right"><button class="btn btn-danger"><a href=""><i class="fas fa-cogs"></i></button></a></p><hr>
</center>

	<div>
		<div>
			<div>
				<h4 style="text-align: center;" id="h3"><p><small><font color="#132B34"><b><i class="fas fa-info-circle"></i> Información básica <i class="fas fa-info-circle"></i></b></font></small></p></h4>
					<div>
						<hr>
						{% for alumno in alumno%}
							<h6 id="usuario"> <font color="#203A43"><b>Nombre <i class="fas fa-user-friends"></i>:</b> </font>{{ alumno.nombre}} {{alumno.apellido_pat}} {{alumno.apellido_mat}} </h6>
							<h6 id="usuario"><font color="#203A43"> <b>Rut <i class="far fa-address-card"></i>: </font></b> {{ alumno.rut }}</h6>
							<h6 id="usuario"><font color="#203A43"> <b>E-mail <i class="far fa-envelope"></i>:</font></b> {{ alumno.mail }}</h6>
							<h6 id="usuario"><font color="#203A43"> <b>Teléfono <i class="fas fa-phone"></i>:</font></b>  {{ alumno.telefono }}</h6>
						<hr>
						{% endfor %}
					</div>

				<h4 style="text-align: center;" id="h3"><p><small><font color="#265135"><b><i class="fas fa-map-marker-alt"></i> Dirección Permanente <i class="fas fa-map-marker-alt"></i></b></font></small></p></h4><p align="right"><button class="btn btn-danger"><a href=""><i class="fas fa-cogs"></i></button></a></p>

					<div>
						<hr>
						{% for direccionalumno in direccion %}
							<h6><font color="#265135"><b> Región <i class="fas fa-globe-americas"></i>: </b>{{ direccionalumno.region.nombre }}</h6>
							<h6><font color="#265135"><b> Provincia <i class="fas fa-globe-americas"></i>: </b>{{ direccionalumno.provincia.nombre }}</h6>
							<h6><font color="#265135"><b> Comuna <i class="far fa-building"></i>: </b>{{ direccionalumno.comuna.nombre }}</h6>
							<h6><font color="#265135"><b> Dirección <i class="fas fa-home"></i>: </b>{{ direccionalumno.direccion }}</h6>
						<hr>
						{% endfor %}
					</div>

				<h4 style="text-align: center;" id="h3"><p><small><font color="#21395A"><b><i class="fas fa-book"></i> Datos de Postulación <i class="fas fa-book"></i></b></font></small></p></h4><p align="right"><button class="btn btn-danger"><a href=""><i class="fas fa-cogs"></i></button></a></p>

					{% if postulacion %}
					{% for postulacion in postulacion %}
					<div>
						<hr>
							<h6><font color="#21395A"><b>Fecha Postulación: </b></font>{{ postulacion.fecha_post}}</h6>
							<h6><font color="#21395A"><b>Universiad de Procedencia: </b></font>{{ postulacion.universidad_procedencia }} </h6>
							<h6><font color="#21395A"><b>Carrera de Procedencia: </b></font>{{ postulacion.carrera_procedencia }}</h6>
							<h6><font color="#21395A"><b>Estado de Nivelación: </b></font>{{ postulacion.nivelacion }} </h6>
							<h6><font color="#21395A"><b>Semestre de ingreso: </b></font>{{ postulacion.semestre_ingreso}} </h6>
							<h6><font color="#21395A"><b>Año de ingreso: </b></font>{{ postulacion.anio_ingreso }}</h6>
							<h6><font color="#21395A"><b>Estado de Matrícula: </b></font>{{ postulacion.estado_matricula }} </h6>
							<h6><font color="#21395A"><b>Antecedentes Académicos: </b></font>{{ postulacion.antecedentes_academicos }} </h6>
							<h6><font color="#21395A"><b>Antecedentes Profesionales: </b></font>{{ postulacion.antecedentes_profesionales }} </h6>
							<h6><font color="#21395A"><b>Carta de Recomendación: </b></font>{{ postulacion.carta_recomendacion }} </h6>
							<h6><font color="#21395A"><b>Entrevista: </b></font>{{ postulacion.entrevista }} </h6>
							<h6><font color="#21395A"><b>Puntaje Entrevista: </b></font>{{ postulacion.puntaje }} </h6>
							<h6><font color="#21395A"><b>Resultados de la condición: </b></font>{{ postulacion.resultados_condicion }} </h6>
					</div>
					{% endfor %}
					{% else %}
					<hr>
					<br>
      <center><p><font color="#A61C1C"><b> <i class="fas fa-exclamation-triangle"></i> No se encontraron registros en la base de datos. Ingresa los datos de Postulación.<i class="fas fa-exclamation-triangle"></i></b></p></font></center>
					<br>
					<br>
					{% for alumno in alumno%}
					<center>
	                    <a class="btn btn-info" role="button" href="{% url 'agregar_datos_postulacion' pk=alumno.pk %}">
	                    <i class="fa fa-fw fa-lg fa-plus-circle"></i>Agregar</a>&nbsp;&nbsp;
					</center>
					{% endfor %}
					{% endif %}
			</div>
		</div>
	</div>
	<hr>
	<div>
</div>
</div>
</form>




{% endblock %}