{% extends 'Base/base.html' %}
{% load staticfiles %}
{% block content %}
{% load bootstrap4 %}

<!-- FORMULARIO DE CREACIÓN DE TITULACIÓN!-->
<form method="post">
    {% csrf_token %}
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-2">
     <legend class="text-center header"><i class="far fa-edit"></i> AGREGAR TITULACIÓN <i class="far fa-edit"></i></legend>
  				<center>
    				<div class="alert alert-primary alert-dismissible fade show" role="alert">
        				<strong>¡Bienvenido!</strong> Selecciona un alumno y crea su titulación
      						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
          						<span aria-hidden="true">&times;</span>
      						</button>
    				</div>
  				</center>
            <div class="form-group">
                <label for ="{{ form.alumno.alumno }}">{{form.alumno.label}}</label>
                {{form.alumno}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for ="{{ form.nombre_titulacion.nombre_titulacion }}">{{form.nombre_titulacion.label}}</label>
                {{form.nombre_titulacion}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for ="{{ form.fecha.fecha }}">{{form.fecha.label}}</label>
                {{form.fecha}}
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary btn-block">
            </div>
        </div> 
    </div>
</form>
</div>
{% endblock %}