{% load staticfiles %}

<h1 style="font-size: 1.5em; line-height: 2em;">Programa Magíster, PUCV</h1>

<p>Estimado, <dd>{{ nombre }} {{apellido_p}} {{apellido_m}}</dd></p>

<dl>
  <dd>Le comunicamos que se ha registrado exitósamente en la Titulación <b>Titulación S12019</b>.
  Adicionalmente, le solicitamos acercarse a la brevedad a Secretaría para registrar el tema de Proyecto y el Profesor Guía.  
  	Para mayor información, comuníquese con la Secretaria.
       <br>
       <br>
      <b> No Responder este mensaje. </b>
  </dd>
  <br>
  <h5><b>Secretaría Magíster, <br></b> Fono: +56 32 2273814 <br>Av. Brasil 2040</h5>
  <center>
    <dd><img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/PUCV_Escudo2016.svg" height="120;" width="150;"></dd>
  </center>
</dl>