{% extends 'Base/base.html' %}
{% load staticfiles %}
{% block content %}
{% load bootstrap4 %}

<!--TÍTULO DE PLANTILLA!-->

<center>
  <h2>INSCRIPCIÓN DE TEMA</h2><p align="right"><button class="btn btn-danger"><a href=""><i class="fas fa-cogs"></i></button></a></p><hr>
</center>

<!--CUADRO DE TEXTO CON INFORMACIÓN!-->

  <center>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>¡Has inscrito exitosamente el tema del Alumno!</strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </center>
<hr>


{% if alumno %}
{% for alumno in alumno %}
<p> Actualmente el Alumno, inscrito en la Titulación <b> Titulación S1209</b> con tema inscrito, debe realizar su primera entrega. Selecciona el botón <b>Primera Entrega</b> para agregar la entrega que se le ha enviado al correo

<br>
	<center><td><a href="{% url 'agregar_primera_entrega' alumno.pk %}" class="btn btn-primary" title="Ir a Detalles">Primera Entrega</a></td></center>
  {% endfor %}
{% endif %}
{% endblock %}